# macOS
.DS_Store

# PyCharm
.idea/

# build
workshop/_build/*

# ignore jupyter-notebook stuff
**/.ipynb_checkpoints/

# ignore data and output folders
output/
data/

# course specific stuff
first_level_analysis/
