# macOS
.DS_Store

# PyCharm
.idea/

# build
workshop/_build/*

# ignore jupyter-notebook stuff
**/.ipynb_checkpoints/

# ignore data and output folders
output/
data/

# nipype specific stuff
## ignore matlab scripts
pyscript.m
## ignore nipype-crash files
crash-*.pklz

# course specific stuff
## nipype
workshop/courses/nipype/data/*
!workshop/courses/nipype/data/.gitkeep

workshop/courses/nipype/output*
!workshop/courses/nipype/output/.gitkeep

workshop/courses/nipype/cache*
!workshop/courses/nipype/cache/.gitkeep
